<div class="container">
<%= form_for(resource, as: resource_name,
  data: { turbo: false }, 
  url: password_path(resource_name), 
  html: { method: :post }) do |f| %>
  <div class="flex main-bg-color color-white justify-center align-center justify-between height-40px">
    <%= link_to "🡄", root_path, method: :get, class:"back ml-10" %>
    <h3>Forgot Password</h3>
    <div class="actions color-white mr-10">
      <%= f.submit "Send" %>
    </div>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>
<% end %>

</div>
