<div class="flex column vertical-100">
  <h1 class='font-title flex-2 flex align-center justify-center text-color'>My Money!</h1>
  <div class="flex column justify-end flex-1 gap-10 padding-10">
    <%=button_to 'LOG IN', user_session_path, method: :get, autofocus: true,
      class:'btn padding-10 width-100 height-70px border-second-color white-color main-bg-color'%>
    <%=button_to 'SIGN UP', new_user_registration_path, method: :get,
    class:'btn padding-10 width-100 height-70px border-second-color white-color  main-bg-color'%>
  </div>
</div>
