
.font-title {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
}

.font-small {
  font-size: 0.8rem;
}

.font-large {
  font-size: 1.3rem;
}

.underlined {
  text-decoration: underline;
}

.font-extra-large {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.block {
  display: block;
}

.margin-inline-auto {
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.fixed {
  position: fixed;
}

.rounded {
  border-radius: 8px;
}

.top-5 {
  top: 5px;
}

.bottom-5 {
  bottom: 5px;
}

.right {
  right: 5px;
}

.text-center {
  text-align: center;
}

.text {
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.vertical-100 {
  height: 100vh;
}

.img-w90 {
  width: 90px;
  height: auto;
}

.img-w100 {
  width: 100px;
  height: auto;
}

.img-w60 {
  width: 60px;
  height: auto;
}

.btn {
  border: none;
  font-size: 1.1rem;
  background-color: inherit;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.btn:active {
  background-color: var(--second-color);
  border: none;
  color: white;
}

.border-second-color {
  border: 1px solid var(--second-color);
}

.btn:focus-visible {
  background-color: var(--second-color);
  border: none;
  outline: none;
  color: white;
}

.margin-auto {
  margin-inline: auto;
}

.margin-button-10 {
  margin-bottom: 10px;
}

.margin-button-20 {
  margin-bottom: 20px;
}

.margin-button-30 {
  margin-bottom: 30px;
}

.gap-10 {
  gap: 10px;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.width-300px {
  width: 300px;
}

.height-70px {
  height: 70px;
}

.height-40px {
  height: 40px;
}

.height-10px {
  height: 10px;
}

.height-20px {
  height: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-tb-30 {
  padding: 30px 0;
}

.padding-tb-20 {
  padding: 20px 0;
}

.main-color {
  color: var(--main-color);
}

.second-color {
  color: var(--second-color);
}

.alert-bg-color {
  background-color: #dc3545;
}

.second-bg-color {
  background-color: var(--second-bg-color);
}

.main-bg-color {
  background-color: var(--main-bg-color);
}

.text-color {
  color: var(--text-color);
}

.color-white {
  color: white;
}

.color-bg-white {
  background-color: white;
}

.link {
  border: none;
  background-color: inherit;
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

body {
  width: 100%;
}

@media (min-width: 500px) {
  body {
    width: 80%;
    margin-inline: auto;
  }
}
