<div class="container">
  <%= form_with model: @entity, method:'post', 
      class:'form',
      url: entity_create_path(category_id: @category.id) do |form| %>
  <%= render partial:'shared/back_form', 
    locals: {title: "Add Transaction", form: form, button: "Create", back: entity_index_path(category_id: @category.id)}
  %>
    <div class="field">
      <%= form.text_field :name, autofocus: true, placeholder: "Name" %>
      <%= form.number_field :amount, autofocus: true, placeholder: "Amount" %>
    </div>
  <% end %>
</div>